.container { 
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
    width: 100%;
    height:50px;
    background-color: gray;
}

.logo {
    /* position: absolute; */
    /* display: flex;
    align-self: flex-start; */
    z-index: 22;
    width: 95px;
    height: 60px;
}

.clock {
    display: flex;
    /* flex-direction: row-reverse; */
    align-self: center;
    /* position: absolute; */
    object-fit: cover;
}